.row
  .col-md-4.col-md-offset-4
    .wrapper
      = render "shared/logo"

      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        - add_error(resource.errors.full_messages.to_sentence, 'alert') if resource.errors.present?

        .input-group.input-group-lg.bottom-margin
          %span.input-group-addon
            %i.fa.fa-envelope
          = f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "#{t ".email"}", class: "form-control input-text"

        = f.submit (t ".button_resend_unlock"), class: "btn btn-success full-width"
      .help-links
        = render "devise/shared/links"
