.row
  .col-md-4.col-md-offset-4
    .wrapper
      .logo
        = image_tag "Batman2.png"
        STARTER-KIT
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        - add_error(resource.errors.full_messages.to_sentence, 'alert') if resource.errors.present?

        = f.hidden_field :reset_password_token

        .input-group.input-group-lg.bottom-margin
          .input-group-addon
            .glyphicon.glyphicon-lock
          .icon-addon
            .input-group-lg
              = f.password_field :password, autocomplete: "off", placeholder: "#{t ".new_password"}", class: "form-control"

        .input-group.input-group-lg.bottom-margin
          .input-group-addon
            .glyphicon.glyphicon-lock
          .icon-addon
            .input-group-lg
              = f.password_field :password_confirmation, autocomplete: "off", placeholder: "#{t ".confirm_new_password"}", class: "form-control"


        = f.submit (t ".button_change_password"), class: "btn btn-success full-width"
      .help-links
        = render "devise/shared/links"
