%h2= t ".title"

= image_tag @user.image_url if @user.image.present?


#user_nav
  - if current_user
    = t ".signed_in"
    = succeed "!" do
      %strong= current_user.email
    = link_to (t ".button_sign_out"), signout_path, class: "btn btn-default"


= link_to (t ".button_edit"), user_edit_path(@user.id), class: "btn btn-default"
