-content_for :head do
  = t ".head"

-content_for :mail do
  = @resource.email

-content_for :content_head do
  = t ".content_head"

-content_for :content do
  %p= t ".details"
  %p= t ".instructions"
  %p= link_to (t ".button_unlock"), unlock_url(@resource, unlock_token: @token)
